body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
#main-container{
    border: 2px solid green;
}
.control-panel{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px 15px 5px 15px;
    height: 40px;
    background-color: darkgrey;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.control-panel > button{
    flex-shrink: 1;
    font-size: 18px;
    border-radius: 5px;
    border-color: black;
    padding-left: 35px;
    padding-right: 35px;
}
#clear-button{
    background-color: lightcoral;
    font-weight: 700;
}
.board{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 700px;
    height: 700px;
    flex: none;
    border: 15px solid black;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 0;
}
.board > div {
    background-color: white;
    outline: .5px solid lightgray;
    aspect-ratio: 1;
}